[% META title = 'Invite Contact' %]

<form method="post" action="[% c.uri_for("/group/${group.id}/invite/submit") %]" class="form-inline well">
  <legend>Invite Contact</legend>
  <!-- Enter the user name: -->
  <input type="text" name="contact" placeholder="Enter the user name" />
  <input type="submit" value="submit" class="btn" />
</form>
